<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="L2Runner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="screen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <L2Runner.Properties.Settings>
            <setting name="RefreshTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastWindow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="mobhpBar" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="filter_string" serializeAs="String">
                <value>l2</value>
            </setting>
        </L2Runner.Properties.Settings>
        <screen.Properties.Settings>
            <setting name="RefreshTime" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LastWindow" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cpBar" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="hpBar" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="mpBar" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="mobhpBar" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </screen.Properties.Settings>
    </userSettings>
</configuration>